{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Instructor portal</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>

    <body>
        <div class="container">
            <div class="col-sm-10">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>