{% extends "CentralInstructorPortal/base.html" %}

{% block content %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Instructor Portal</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout/">Logout</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div>
        <div class="col-sm-12">
            <h3>Welcome {{user.first_name}}</h3>
        </div>
        {% for hub in hubs %}
        <div class="col-sm-12 well">
            <p>[{{hub.id}}] {{hub.hub_id}}</p>
            <table class="table">
                <tbody>
                    <tr>
                        <th>IP</th>
                        <th>added</th>
                    </tr>

                    {% for status in hub.get_latest %}
                     <tr>
                        <td><a target="_blank" href="{{status.ip}}">{{status.ip}}</a></td>
                        <td>{{status.added}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
{% endblock %}