{% extends "CentralInstructorPortal/base.html" %}

{% block content %}
    <h1>Login</h1>

    <form id="login_form" method="post" action="/login/">
        {% csrf_token %}
        <p>Username</p>
        <input type="text" name="username" value="" size="50" /><br /><br />
        <p>Password</p>
        <input type="password" name="password" value="" size="50" /><br /><br />
        <input type="submit" value="submit" />
    </form>
{% endblock %}